<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MelshoX URL Shortener</title>
    <!-- css file -->
    <link rel="stylesheet" href="/style/css/melshox.css">
    <!-- js files -->
    <script src="/style/js/melshox.js"></script>
    <script src="/style/js/jquery.js"></script>
  </head>

  <body>
    <main>
      <div id="main-title">MelshoX URL Shortener</div>
      <div id="short-form">
        <form class="url-short-form" method="GET" action="/url/short">
          <div class="input-group" id="url-input">
            <div class="input-group-addon">
               <i class="icon_url"></i>
            </div>
            <input id="url_field" name="url" type="url" placeholder="URL ex: http://example.com">
          </div>
          <div class="submit" id="url-submit">
            <input id="url_to_short" type="button" value="please wait">
          </div>
          <div class="details">
            <a href="#" id="add-details">add details</a>

            <div id="url-details" class="hidden">
              <input id="direct-field" type="checkbox" name="direct">
              <label for="direct-field">Direct Redirect</label>
              <input id="title_field" name="title" type="text" placeholder="Title (optional)">
              <textarea id="description_field" name="description" placeholder="Description (optional)"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div id="result" class="hidden">
        <div class="result-content">
          <input id="short-result">
          <div id="copy-btn">
            <button id="copy-btn-in" data-copytarget="#short-result">Copy</button>
          </div>
        </div>
        <a href="#" id="short-again">Short another URL</a>
      </div>

    </main>

    <script>
    $(document).ready(function(){
      init();
    });
    </script>
  </body>
</html>
