<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MelshoX URL Shortener : redirecting ...</title>
    <!-- css file -->
    <link rel="stylesheet" href="/style/css/melshox.css">
    <!-- js files -->
    <script src="/style/js/melshox.js"></script>
    <script src="/style/js/jquery.js"></script>
  </head>
  <body>
    <main>
      <div id="main-title">MelshoX URL Shortener : Redirect</div>
      <div id="redirect-form">
        <div id="result">
          <div class="result-content">
            <input id="short-result" value="{{url.url}}">
            <div id="copy-btn">
              <button id="redirect-btn">
                <a href="{{url.url}}">
                Redirect Me
              </a>
              </button>
            </div>
          </div>
          <a href="/">
            Short Urls
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
