@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  width : 100%;
}
main {
  max-width: 600px;
  margin : 0px auto;
  border: 2px solid grey;
  padding: 5px;
}
#main-title {
  background-color: #BDBDBD;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.url-short-form .error-field input,
.url-short-form .error-field input[type=text],
.url-short-form .error-field input[type=url],
.url-short-form .error-field textarea{
  border-color:#D893A1;
  background-color: #FBE6F2;
}


.url-short-form input[type=text],
.url-short-form input[type=url],
.url-short-form textarea,
#short-result {
  border-style: solid;
  border-width: 2px;
  border-color: #bdc3c7;
  -webkit-transition: border-color 0.5s ease-in-out;
  transition: border-color 0.5s ease-in-out;
  border-radius:3px;

  padding: 10px 10px 9px 2.3em;

  outline:none;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;

  font-size: 1em;

  width: 100%;
  *width: 94%;
  margin: 3px auto;
}
#short-result {
  border-color :#51A078;
}
.url-short-form textarea {
  height: auto;
}

.url-short-form input,
.url-short-form textarea,
#short-result {
  font-family: inherit;
  color: inherit;
}
/* Submit Button */
.url-short-form input[type=button]{

  outline: none;
  font-size: 1em;
  padding: 10px;
  color: #423737;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #F1F1F1;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;

  border: 2px solid #B9B9B9;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius:3px;
  box-shadow: inset 0 -0.3em 0 rgb(123, 0, 46);

  width: 100%;
  *width: 94%;
  margin-left: 1%;
}
button {
  outline: none;
  font-size: 1em;
  padding: 10px;
  color: #423737;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #F1F1F1;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;

  border: 2px solid #B9B9B9;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius:3px;
  box-shadow: inset 0 -0.3em 0 rgb(1, 189, 128);

  width: 100%;
  *width: 94%;
  margin-left: 1%;
}

.url-short-form input[type=button][disabled],
button[disabled] {
  cursor: default;
  opacity: 0.65;
}

.url-short-form input[type=button]:focus,
.url-short-form input[type=button]:active,
.url-short-form input[type=button]:hover,
.url-short-form input[type=button][disabled]{
  border-color: rgb(123,0,46);
}
button:focus,
button:active,
button:hover,
button[disabled] {
  border-color: rgb(1, 189, 128)
}


#url-input, #short-result {
  width : 75%;
  float: left;
}
#url-submit, #copy-btn {
  width : 24%;
  float: right;
}

.hidden {
  display: none;
  border: 0px solid;
}
.short-options, #short-again, .result-content {
  display: inline-block;
  width: 100%;
}
.short-options li {
  display: inline;
  padding: 0px 15px 0px 15px;
  border-left: 1px solid grey;
}
.short-options>li:first-child {
  border-left: 0px solid;
}

.copied {
  color: #1DB941;
}
